body{
    margin: 10;
    padding: 2;
    background:lightskyblue ;
}

.nombre{
    width: 1005;
    height:300px;
    background:rgb(95, 198, 193) ;
    transform: skewY(-5deg);
}

.nombre .contenido {
    width: 50%;
    height: 50%;
    position:absolute;
    left:20%;
    
}
.nombre .contenido .h_1{
    color: darkslategray;   
    font-family: 'Rubik', sans-serif;
    font-weight:bolder ;
    font-size: 50px;
    transform: skewY(5deg);
    margin-bottom: 10;
    margin-top: 20;
    text-align: center;
    
}

.nombre .contenido .h_2{
    color: darkslategray;   
    font-family: 'Rubik', sans-serif;
    font-weight:bolder ;
    font-size: 30px;
    transform: skewY(5deg);
    margin-bottom: 0;
    margin-top:0 ;
    text-align: center;
    
}

.informacion {
    width: 90%;
    height: auto;
    background: rgb(131, 189, 208);
    margin:5% auto ;
    padding: 30px;
}

.informacion .titulo {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight:bolder ;
    border-bottom: 5px blue solid ;
}

.informacion .text{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.Estudios {
    width: 90%;
    height: auto;
    background: rgb(131, 189, 208);
    margin:5% auto ;
    padding: 50px;
    
}

.Estudios .tituloEstudios {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight:bolder ;
    border-bottom: 5px blue solid ;
}

.experiencia .tituloExperiencia {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight:bolder ;
    border-bottom: 5px blue solid ;
}

.experiencia {
    width: 90%;
    height: auto;
    background: rgb(131, 189, 208);
    margin:5% auto ;
    padding: 50px;
}